<div class="page-header">
  <h3>Fighter #<%= @fighter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Wins</dt>
      <dd><%= @fighter.wins %></dd>

      <dt>Pic</dt>
      <dd><img src="<%= @fighter.pic %>" class="img-responsive"></dd>

      <dt>First name</dt>
      <dd><%= @fighter.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @fighter.last_name %></dd>

      <dt>Created by</dt>
      <dd><%= @fighter.created_by %></dd>

      <dt>Updated by</dt>
      <dd><%= @fighter.updated_by %></dd>

      <dt>Losses</dt>
      <dd><%= @fighter.losses %></dd>

      <dt>Draws</dt>
      <dd><%= @fighter.draws %></dd>

      <dt>No contests</dt>
      <dd><%= @fighter.no_contests %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/fighters" class="btn btn-primary">
        Back
      </a>
      <a href="/fighters/<%= @fighter.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_fighter/<%= @fighter.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
