<div class="page-header">
  <h3>Fighter #<%= @fighter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Wins</dt>
      <dd><%= @fighter.wins %></dd>

      <dt>Pic</dt>
      <dd><img src="<%= @fighter.pic %>" class="img-responsive"></dd>

      <dt>First name</dt>
      <dd><%= @fighter.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @fighter.last_name %></dd>

      <dt>Created by</dt>
      <dd><%= @fighter.created_by %></dd>

      <dt>Updated by</dt>
      <dd><%= @fighter.updated_by %></dd>

      <dt>Losses</dt>
      <dd><%= @fighter.losses %></dd>

      <dt>Draws</dt>
      <dd><%= @fighter.draws %></dd>

      <dt>No contests</dt>
      <dd><%= @fighter.no_contests %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/fighters" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @fighter.profile_creator %>
        <a href="/fighters/<%= @fighter.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_fighter/<%= @fighter.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Fighter has many fights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fights
      </li>

      <% @fighter.fights.each do |fight| %>
        <li class="list-group-item">
          <a href="/fights/<%= fight.id %>">
            <%= fight.fighter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fights/<%= fight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fights/<%= fight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fight/<%= fight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Fighter has many bsides -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bsides
      </li>

      <% @fighter.bsides.each do |fight| %>
        <li class="list-group-item">
          <a href="/fights/<%= fight.id %>">
            <%= fight.fighter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fights/<%= fight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fights/<%= fight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fight/<%= fight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
