<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @venue.city %></dd>

      <dt>State</dt>
      <dd><%= @venue.state %></dd>

      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Country</dt>
      <dd><%= @venue.country %></dd>

      <dt>Capacity</dt>
      <dd><%= @venue.capacity %></dd>

      <dt>Created by</dt>
      <dd>
        <% if @venue.venue_creator.present? %>
          <a href="/users/<%= @venue.created_by %>">
            <%= @venue.venue_creator.email %>
          </a>
        <% end %>
      </dd>

      <dt>Pic</dt>
      <dd><img src="<%= @venue.pic %>" class="img-responsive"></dd>

      <dt>Updated by</dt>
      <dd><%= @venue.updated_by %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @venue.venue_creator %>
        <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Venue has many fights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fights
      </li>

      <% @venue.fights.each do |fight| %>
        <li class="list-group-item">
          <a href="/fights/<%= fight.id %>">
            <%= fight.fighter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fights/<%= fight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fights/<%= fight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fight/<%= fight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_fight" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for fighter -->
      <div class="form-group">
        <label for="fighter" class="control-label">
          Fighter
        </label>

        <%= select_tag(:fighter, options_from_collection_for_select(Fighter.all, :id, :wins), :class => "form-control") %>
      </div>

      <!-- Label and input for fighter2 -->
      <div class="form-group">
        <label for="fighter2" class="control-label">
          Fighter2
        </label>

        <%= select_tag(:fighter2, options_from_collection_for_select(Fighter.all, :id, :wins), :class => "form-control") %>
      </div>

      <!-- Label and input for venue -->
      <div class="form-group">
        <label for="venue" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue, options_from_collection_for_select(Venue.all, :id, :city), :class => "form-control") %>
      </div>

      <!-- Label and input for result -->
      <div class="form-group">
        <label for="result" class="control-label">
          Result
        </label>

        <input type="text" id="result" name="result" placeholder="Result" class="form-control" value="">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for tagline -->
      <div class="form-group">
        <label for="tagline" class="control-label">
          Tagline
        </label>

        <input type="text" id="tagline" name="tagline" placeholder="Tagline" class="form-control" value="">
      </div>

      <!-- Label and input for attendance -->
      <div class="form-group">
        <label for="attendance" class="control-label">
          Attendance
        </label>

        <input type="text" id="attendance" name="attendance" placeholder="Attendance" class="form-control" value="">
      </div>

      <!-- Label and input for poster -->
      <div class="form-group">
        <label for="poster" class="control-label">
          Poster
        </label>

        <input type="file" id="poster" name="poster" class="form-control">
      </div>

      <button class="btn btn-block btn-success">
        Create Fight
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
