<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @venue.city %></dd>

      <dt>State</dt>
      <dd><%= @venue.state %></dd>

      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Country</dt>
      <dd><%= @venue.country %></dd>

      <dt>Capacity</dt>
      <dd><%= @venue.capacity %></dd>

      <dt>Created by</dt>
      <dd><%= @venue.created_by %></dd>

      <dt>Pic</dt>
      <dd><img src="<%= @venue.pic %>" class="img-responsive"></dd>

      <dt>Updated by</dt>
      <dd><%= @venue.updated_by %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @venue.venue_creator %>
        <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Venue has many fights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fights
      </li>

      <% @venue.fights.each do |fight| %>
        <li class="list-group-item">
          <a href="/fights/<%= fight.id %>">
            <%= fight.fighter %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fights/<%= fight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fights/<%= fight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fight/<%= fight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
