<div class="page-header">
  <h1>
    Fights
    <a href="/fights/new" class="btn btn-lg btn-success">New Fight</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "fights_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :attendance, "Attendance" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :attendance_gteq, :class => "form-control", :placeholder => "Attendance greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :attendance_lteq, :class => "form-control", :placeholder => "Attendance less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :tagline_cont, "Tagline contains" %>
    <%= f.text_field :tagline_cont, :class => "form-control", :placeholder => "Tagline contains" %>
  </div>

<div class="form-group">
          <%= f.label :date, "Date" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='dategteqPicker'>
                  <%= f.text_field :date_gteq, :class => "form-control", :placeholder => "Date greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='datelteqPicker'>
                  <%= f.text_field :date_lteq, :class => "form-control", :placeholder => "Date less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#dategteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#datelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#dategteqPicker').on("dp.change", function (e) {
                  $('#datelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#datelteqPicker').on("dp.change", function (e) {
                  $('#dategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :result_cont, "Result contains" %>
    <%= f.text_field :result_cont, :class => "form-control", :placeholder => "Result contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
  <%= f.label :wins, "Fighter Wins" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fighter_wins_gteq, :class => "form-control", :placeholder => "Fighter Wins greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fighter_wins_lteq, :class => "form-control", :placeholder => "Fighter Wins less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :wins, "Fighter Wins" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fighter2_wins_gteq, :class => "form-control", :placeholder => "Fighter Wins greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fighter2_wins_lteq, :class => "form-control", :placeholder => "Fighter Wins less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
      <%= f.label :venue_city_cont, "Venue city contains" %>
      <%= f.text_field :venue_city_cont, :class => "form-control", :placeholder => "Venue city contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/fights" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#fights_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Fighter</th>
        <th>Fighter2</th>
        <th>Venue</th>
        <th>Result</th>
        <th>Date</th>
        <th>Tagline</th>
        <th>Attendance</th>
        <th>Poster</th>
        <th>Actions</th>
      </tr>

      <% @fights.each do |fight| %>
      <tr>
        <td>
          <% if fight.fighter.present? %>
            <a href="/fighters/<%= fight.fighter.id %>">
              <%= fight.fighter.wins %>
            </a>
          <% end %>
        </td>
        <td><%= fight.fighter.wins2 %></td>
        <td>
          <% if fight.venue.present? %>
            <a href="/venues/<%= fight.venue.id %>">
              <%= fight.venue.city %>
            </a>
          <% end %>
        </td>
        <td><%= fight.result %></td>
        <td><%= fight.date %></td>
        <td><%= fight.tagline %></td>
        <td><%= fight.attendance %></td>
        <td><img src='<%= fight.poster %>' class='img-responsive'></td>
        <td>
          <a href="/fights/<%= fight.id %>" class="btn btn-primary">Show</a>
          <a href="/fights/<%= fight.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_fight/<%= fight.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @fights, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
